<section class="bg-gray-100 border border-gray-100 w-[50%] mx-auto my-10 p-10">
    <h1 class="text-center text-4xl text-sky-800">Register Now</h1>
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
        <div class="relative mt-5">
            <input type="text" id="name"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="name" placeholder=" " />
            <label for="name"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Name</label>
        </div>
        <!--Validation Name-->
        @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
        <div class="text-red-700">
            @if (registerForm.get('name')?.getError('required')) {
            <h1>Name is required</h1>

            }
            @if (registerForm.get('name')?.getError('minlength')) {
            <h1>Min length is 3 characters</h1>

            }
            @if (registerForm.get('name')?.getError('maxlength')) {
            <h1>Max length is 20 characters</h1>

            }
        </div>
        }

        <div class="relative mt-5">
            <input type="email" id="email"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="email" placeholder=" " />
            <label for="email"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        <!--Validation Email-->
        @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
        <div class="text-red-700">
            @if (registerForm.get('email')?.getError('required')) {
            <h1>Email is required</h1>

            }
            @if (registerForm.get('email')?.getError('email')) {
            <h1>Enter avalid email</h1>

            }
        </div>
        }
        <div class="relative mt-5">
            <input type="password" id="password"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="password" placeholder=" " />
            <label for="password"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
        </div>
        <!--Validation Password-->
        @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
        <div class="text-red-700">
            @if (registerForm.get('password')?.getError('required')) {
            <h1>password is required</h1>

            }
            @if (registerForm.get('password')?.getError('pattern')) {
            <h1>Enter avalid password</h1>

            }
        </div>
        }
        <div class="relative mt-5">
            <input type="password" id="rePassword"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="rePassword" placeholder=" " />
            <label for="rePassword"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Confirm
                Password</label>
        </div>
        <!--Validation Confirm Password-->
        <!-- @if (registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched) {
        <div class="text-red-700">
            @if (registerForm.get('rePassword')?.getError('required')) {
            <h1>Confirm password is required</h1>

            }

        </div>
        } -->
        @if(registerForm.getError('missMatch') && registerForm.get('rePassword')?.touched){
        <p class="text-red-700">Confirm password not matched</p>
        }
        <div class="relative mt-5">
            <input type="tel" id="userPhone"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="phone" placeholder=" " />
            <label for="userPhone"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Phone</label>
        </div>
        <!--Validation Phone-->
        @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
        <div class="text-red-700">
            @if (registerForm.get('phone')?.getError('required')) {
            <h1>phone is required</h1>

            }
            @if (registerForm.get('phone')?.getError('pattern')) {
            <h1>Enter avalid phone</h1>

            }
        </div>
        }
        <p class="text-red-700">{{errMessage}}</p>
        <button class="btn my-4">
            Register
            @if(isLoading){
            <i class="fa-solid fa-spinner"></i>
            }
        </button>




    </form>
</section>