<!--forgetPassword-->
@if(step == 1){
<section id="forgetPassword" class="bg-gray-100 border border-gray-100 w-[50%] mx-auto my-10 p-10">
    <h1 class="text-center text-4xl text-sky-800">Forget Password</h1>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetForm()">
        
        

        <div class="relative mt-5">
            <input type="email" id="email"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="email" placeholder=" " />
            <label for="email"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        <!--Validation Email-->
        @if (forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched) {
        <div class="text-red-700">
            @if (forgetPasswordForm.get('email')?.getError('required')) {
            <h1>Email is required</h1>

            }
            @if (forgetPasswordForm.get('email')?.getError('email')) {
            <h1>Enter avalid email</h1>

            }
        </div>
        }
        <p class="text-red-700">{{errMessage}}</p>
        <button class="btn my-4">
            Send Email
            @if(isloading){
            <i class="fa-solid fa-spinner"></i>
            }
        </button>




    </form>

</section>
}


<!--resetCode-->
@if (step == 2) {
    <section id="resetCode" class="bg-gray-100 border border-gray-100 w-[50%] mx-auto my-10 p-10">
    <h1 class="text-center text-4xl text-sky-800">Forget Password</h1>
    <form [formGroup]="resetCodeForm" (ngSubmit)="submitCode()">
        
        

        <div class="relative mt-5">
            <input type="text" id="resetCode"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="resetCode" placeholder=" " />
            <label for="resetCode"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Reset Code</label>
        </div>
        <!--Validation Code-->
        @if (resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched) {
        <div class="text-red-700">
            @if (resetCodeForm.get('resetCode')?.getError('required')) {
            <h1>Reset Code is required</h1>

            }
            @if (resetCodeForm.get('resetCode')?.getError('pattern')) {
            <h1>Enter avalid Reset Code</h1>

            }
        </div>
        }
        
       
        <p class="text-red-700">{{errMessage}}</p>
        <button class="btn my-4">
            Send Code
            @if(isloading){
            <i class="fa-solid fa-spinner"></i>
            }
        </button>




    </form>

</section>
}

<!--resetPassword-->
@if(step == 3){
<section id="resetPassword" class="bg-gray-100 border border-gray-100 w-[50%] mx-auto my-10 p-10">
    <h1 class="text-center text-4xl text-sky-800">Reset Password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitNewPassword()">
        
        

        <div class="relative mt-5">
            <input type="email" id="email"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="email" placeholder=" " />
            <label for="email"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
        </div>
        <!--Validation Email-->
        @if (resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched) {
        <div class="text-red-700">
            @if (resetPasswordForm.get('email')?.getError('required')) {
            <h1>Email is required</h1>

            }
            @if (resetPasswordForm.get('email')?.getError('email')) {
            <h1>Enter avalid email</h1>

            }
        </div>
        }
        <div class="relative mt-5">
            <input type="password" id="password"
                class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-sky-800 focus:outline-none focus:ring-0 focus:border-sky-800 peer"
                formControlName="newPassword" placeholder=" " />
            <label for="password"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-sky-800 peer-focus:dark:text-sky-800 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
        </div>
        <!--Validation Password-->
        @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched) {
        <div class="text-red-700">
            @if (resetPasswordForm.get('newPassword')?.getError('required')) {
            <h1>password is required</h1>

            }
            @if (resetPasswordForm.get('newPassword')?.getError('pattern')) {
            <h1>Enter avalid password</h1>

            }
        </div>
        }
        
       
        <p class="text-red-700">{{errMessage}}</p>
        <button class="btn my-4">
            Reset Password
            @if(isloading){
            <i class="fa-solid fa-spinner"></i>
            }
        </button>



    </form>
</section>
}